In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as pl
from sqlalchemy import create_engine, text
import psycopg2
import os
import csv
from io import StringIO

In [2]:
os.chdir('..')

In [3]:
from db.connection import DatabaseConnection

In [4]:
db_connection = DatabaseConnection()

In [5]:
db_connection.connect()

Connected to the database.

In [7]:
# Replace 'your_file.csv' with the actual path of your CSV file
file_path = 'data/20181024_d1_0830_0900.csv'
import pandas as pd

data = pd.read_csv(file_path, sep="[,;:]", index_col=False, engine='python')

data

/tmp/ipykernel_93634/3331527653.py:5: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  data = pd.read_csv(file_path, sep="[,;:]", index_col=False, engine='python')

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,48.85,9.770344,37.977391,23.737688,4.9178,0.0518,-0.0299,0.0
1,2,Motorcycle,98.09,19.839417,37.977642,23.737400,16.9759,-0.0361,-0.0228,0.0
2,3,Motorcycle,63.80,18.228752,37.977997,23.737264,20.1906,-0.0795,-0.3395,0.0
3,4,Motorcycle,145.72,26.229014,37.978135,23.737072,2.7555,-0.0302,0.0948,0.0
4,5,Motorcycle,138.01,24.841425,37.978134,23.737103,0.0000,0.0000,0.0000,0.0
...,...,...,...,...,...,...,...,...,...,...
917,918,Car,78.83,30.846243,37.980629,23.735083,38.2160,0.0372,-0.0533,809.6
918,919,Motorcycle,19.50,9.234518,37.979327,23.735628,2.9344,0.0011,-0.0237,811.2
919,920,Car,48.97,24.486209,37.978413,23.735528,22.8316,-0.0250,-0.0808,811.6
920,921,Motorcycle,46.68,30.007124,37.980020,23.736861,32.3581,-0.0493,-0.1050,813.2
921,922,Car,35.00,23.335533,37.978428,23.735538,24.1909,-0.0077,-0.0660,813.4

In [8]:
data2 = pd.read_csv(file_path, index_col=False, delimiter='; ')

/tmp/ipykernel_93634/437189870.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data2 = pd.read_csv(file_path, index_col=False, delimiter='; ')
/tmp/ipykernel_93634/437189870.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  data2 = pd.read_csv(file_path, index_col=False, delimiter='; ')

In [9]:
data2

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,48.85,9.770344,37.977391,23.737688,4.9178,0.0518,-0.0299,0.0
1,2,Motorcycle,98.09,19.839417,37.977642,23.737400,16.9759,-0.0361,-0.0228,0.0
2,3,Motorcycle,63.80,18.228752,37.977997,23.737264,20.1906,-0.0795,-0.3395,0.0
3,4,Motorcycle,145.72,26.229014,37.978135,23.737072,2.7555,-0.0302,0.0948,0.0
4,5,Motorcycle,138.01,24.841425,37.978134,23.737103,0.0000,0.0000,0.0000,0.0
...,...,...,...,...,...,...,...,...,...,...
917,918,Car,78.83,30.846243,37.980629,23.735083,38.2160,0.0372,-0.0533,809.6
918,919,Motorcycle,19.50,9.234518,37.979327,23.735628,2.9344,0.0011,-0.0237,811.2
919,920,Car,48.97,24.486209,37.978413,23.735528,22.8316,-0.0250,-0.0808,811.6
920,921,Motorcycle,46.68,30.007124,37.980020,23.736861,32.3581,-0.0493,-0.1050,813.2
921,922,Car,35.00,23.335533,37.978428,23.735538,24.1909,-0.0077,-0.0660,813.4